@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030712;
  color: #e5e7eb;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #030712;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 9999px;
}